.body{
    font: 70px arial,sans-serif;
}
.navbar{
    background-color: cadetblue;
}

.quem-somos{
    background-color: rgb(255, 255, 255);
}
.margin{
    padding: 20px;
}
.parceiros{
    background-color: cadetblue;
}
.bg-footer{
    background-color: black;
    color: white;
}